---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Page not found @garnik.me">
  <div>
    <h1>NOT FOUND 🤔</h1>
    <p>You just hit a route that doesn&#39;t exist... the sadness.</p>
  </div>
  <style>
    h1 {
      font-weight: 600;
      font-size: var(--font-size-xl);
      margin: 0;
    }

    p {
      font-family: 'Quattrocento Sans', sans-serif;
      font-size: var(--font-size-base);
      line-height: calc(var(--font-size-base) + 8px);
    }
  </style>
</Layout>
