---
import Layout from '../layouts/Layout.astro';
import Pulsation from '../components/Pulsation.astro';
import Card from '../components/Card.astro';
---

<Layout title="garnik.me">
  <main>
    <Pulsation />
    <Card />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 32ch;
  }
</style>
