---
import Layout from '../layouts/Layout.astro';
import Timer from '../components/Timer.astro';
---

<Layout title="Garnik H.">
  <main>
    <Timer />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
  }
</style>
