<div>
  <h1>Hi, I am Garnik!</h1>
  <p>
    Nothing interesting here just yet. <br /> But you can find me on
    <a href="https://twitter.com/nikoTM">Twitter</a> and
    <a href="https://github.com/nikoTM">Github</a>.
  </p>
</div>
<style>
  h1 {
    font-weight: 600;
    font-size: var(--font-size-xl);
    margin: 0;
  }

  p {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: var(--font-size-base);
    line-height: calc(var(--font-size-base) + 8px);
  }

  a {
    color: var(--color-link);
    text-decoration: underline;
  }
</style>
